*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef2f7;
}


header{
    background:#3569e6;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.logo img{
    height:80px;
}

nav{
    display:flex;
    gap:40px;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

footer{
    background:#2f49b8;
    color:white;
    text-align:center;
    padding:45px 20px;
    margin-top:60px;
}

footer h2{
    color:white;
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
}

footer p{
    font-size:16px;
    margin-bottom:12px;
}